<div style="background-color:#0000A3; color: aliceblue;">
    <div class="container">
        <div class="row fs-5">
    
            <div class="col-sm-4 text-center">
                <h4>Our Services</h4>
                <ul class="list-unstyled">
                    <li><a style="color:yellow" class="text-decoration-none" onMouseOver="this.style.color='white'"
                        onMouseOut="this.style.color='yellow'" href="{% url 'new-ticket' %}">Create New Ticket</a></li>
                    <li><a style="color:yellow" class="text-decoration-none" onMouseOver="this.style.color='white'"
                        onMouseOut="this.style.color='yellow'" href="{% url 'tickets-list' %}">View Tickets</a></li>
                    <li><a style="color:yellow" class="text-decoration-none" onMouseOver="this.style.color='white'"
                        onMouseOut="this.style.color='yellow'" href="{% url 'donate' %}">Make a donation</a></li>
                </ul>
            </div>
    
            <div class="col-sm-4 text-center">
                <h4 class="text-center">Follow Us</h4>
                <ul class="list-unstyled">
                    <li><a style="color:yellow" class="text-decoration-none" onMouseOver="this.style.color='white'"
                        onMouseOut="this.style.color='yellow'" href="#">Linkedin</a></li>
                    <li><a style="color:yellow" class="text-decoration-none" onMouseOver="this.style.color='white'"
                        onMouseOut="this.style.color='yellow'" href="#">Facebook</a></li>
                    <li><a style="color:yellow" class="text-decoration-none" onMouseOver="this.style.color='white'"
                        onMouseOut="this.style.color='yellow'" href="#">Instagram</a></li>
                </ul>
            </div>
    
            <div class="col-sm-4 text-center">
                <h4 class="text-center">About Us</h4>
                <ul class="list-unstyled">
                    <li><a style="color:yellow" class="text-decoration-none" onMouseOver="this.style.color='white'"
                        onMouseOut="this.style.color='yellow'" href="{% url 'blog-index' %}">Our Blog</a></li>
                    <li><a style="color:yellow" class="text-decoration-none" onMouseOver="this.style.color='white'"
                        onMouseOut="this.style.color='yellow'" href="/#contact">Contact Us</a></li>
                    <li><a style="color:yellow" class="text-decoration-none" onMouseOver="this.style.color='white'"
                        onMouseOut="this.style.color='yellow'" href="#">Our Sponsors</a></li>
                </ul>
            </div>
            
        </div>
        <div class="copyright text-center fs-5">
           &copy; Copyright 2023 <strong><span>E-HELP</span></strong>. All Rights Reserved. 
           <p><a style="color:yellow" class="text-decoration-none" onMouseOver="this.style.color='white'"
            onMouseOut="this.style.color='yellow'" href="#">Terms of Use</a> | <a style="color:yellow" class="text-decoration-none" onMouseOver="this.style.color='white'"
            onMouseOut="this.style.color='yellow'" href="#">Privacy Policy</a></p>
        </div>
        <br>
    </div>
    </div>
     
     